# Analisando uma base de dados com Pandas

## 1ยบ Importar a base de vendas.

In [26]:
import pandas as pd

base_vendas = pd.read_csv("Ecommerce.csv", delimiter=",")

display(base_vendas)

,id,nome,sobrenome,email,ip_acesso,bandeira_cartao,data_compra,produto,valor,latitude,longitude
0,1,Thorn,Oury,toury0@go.com,85.75.134.133,visa-electron,2020-05-20,228976713-1,94.04,41.340231,-8.363368
1,2,Zorina,Kairns,zkairns1@google.co.uk,121.202.138.146,bankcard,2020-02-04,491882073-5,89.76,-7.545026,111.655639
2,3,Madelaine,Durning,mdurning2@google.fr,211.68.110.250,jcb,2020-04-20,603099929-X,7.19,43.494574,5.897802
3,4,Felipe,Shoebottom,fshoebottom3@gravatar.com,233.129.49.0,jcb,2020-07-15,628588005-0,41.66,4.452947,126.749626
4,5,Seward,Orae,sorae4@networksolutions.com,41.65.205.66,jcb,2020-04-13,231546816-7,60.43,50.614436,19.464360
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Junina,Presser,jpresserrn@goo.ne.jp,231.170.248.208,switch,2020-10-27,264865732-0,61.21,23.112257,114.415801
996,997,Hana,Haffard,hhaffardro@amazon.com,78.20.139.249,instapayment,2020-04-15,379703470-9,64.59,14.502473,120.992172
997,998,Nita,Gabbotts,ngabbottsrp@seattletimes.com,46.54.244.79,jcb,2020-07-06,431008031-6,12.61,45.623226,63.313983
998,999,Dagny,Twinterman,dtwintermanrq@studiopress.com,38.36.136.97,visa,2020-12-19,058817305-3,68.91,23.732107,-103.983268
999,1000,Farica,Pudden,fpuddenrr@washingtonpost.com,65.84.115.92,diners-club-carte-blanche,2020-09-02,070027647-5,90.84,49.064831,25.381716

## 2ยบ agrupar as vendas por forma de pagamento e data da compra com seus respectivos valores sumarizados.

In [27]:
resumo_vendas = pd.DataFrame(base_vendas.groupby(by="bandeira_cartao").valor.sum()).rename(columns={"valor":"Total"})

display(resumo_vendas)

                              Total
bandeira_cartao
americanexpress             2821.01
bankcard                    2369.60
china-unionpay              1995.81
diners-club-carte-blanche   2402.42
diners-club-enroute         2562.58
diners-club-international    434.23
diners-club-us-ca            356.58
instapayment                 891.59
jcb                        21175.62
laser                       1975.21
maestro                     3095.01
mastercard                  5133.63
solo                         547.93
switch                      3133.83
visa                        1273.41
visa-electron               2561.09

## 3ยบ Criar uma nova base com o resultado da anรกlise.

In [28]:
resumo_vendas.to_csv("resumo_vendas.csv", sep=";")

<b>Atรฉ breve!</b>

> **Referรชncias:**  <br/><font size="1">Mockaroo, **Random Data Generator and API Mocking Tool**. Disponรญvel em: <https://www.mockaroo.com/>. Acesso em: 03 fev. 2022.  <br/></font>